@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body{
  margin:0;
  background-color: #DDD;
  font-family: 'Open Sans', sans-serif;
}
.loginArea{
  width: 270px;
  height: 270px;
  background-color: #FFF;
  position: absolute;
  left: 50%;
  top:30px;
  margin-left: -150px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #999 ;
  padding: 15px;
}
.loginArea input[type=email],
.loginArea input[type=password]{
  width: 100%;
  outline: 0;
  font-size: 16px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;

}
.loginArea button[type=submit]{
  width: 100px;
  height: 40px;
  border:0px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #ddd;
  cursor: pointer;
}
.warning{
  border: 2px solid #FF0000;
  padding: 10px;
  border-radius: 5px;
  background-color: #FF9999;
  color: #000;
  margin-top: 20px;

}